@include font-face('GE Inspira Sans', '/type/GEInspiraSans-Regular-v01');
@include font-face('GE Inspira Sans', '/type/GEInspiraSans-Italic-v01', normal, italic);
@include font-face('GE Inspira Sans', '/type/GEInspiraSans-Bold-v01', bold, normal);
@include font-face('GE Inspira Sans', '/type/GEInspiraSans-BoldItalic-v01', bold, italic);
@include font-face('GE Inspira Serif', '/type/GEInspiraSerif-Regular-v01');
@include font-face('GE Inspira Serif', '/type/GEInspiraSerif-Italic-v01', normal, italic);
@include font-face('GE Inspira Serif', '/type/GEInspiraSerif-Bold-v01', bold, normal);
@include font-face('GE Inspira Serif', '/type/GEInspiraSerif-BoldItalic-v01', bold, italic);

html {
  font-family: "GE Inspira Sans", sans-serif;
  color: $gray-dark;
}

h2, h3 {
  color: $black;
}

/**
 * Font weights
 */
.weight--light      { font-weight:300!important; }
.weight--normal     { font-weight:400!important; }
.weight--semibold   { font-weight:600!important; }

.status {
  font-weight: bold;
}