/*------------------------------------*\
    $PX-TYPOGRAPHY-DESIGN
\*------------------------------------*/

/**
 * Base typographic styles for Predix Experience
 */

@import "../px-defaults-design/settings.defaults";
@import "../px-functions-design/tools.functions";
@import "../px-mixins-design/tools.mixins";

$predix-font-family: "GE Inspira Sans", sans-serif !default;

@if import-once('base.typography') {

  @include font-face('GE Inspira', '../type/GEInspMd');
  @include font-face('GE Inspira', '../type/GEInspMdIt', normal, italic);
  @include font-face('GE Inspira', '../type/GEInspBd', bold, normal);
  @include font-face('GE Inspira', '../type/GEInspBI', bold, italic);
  @include font-face('GE Inspira Sans', '../type/GEInspiraSans-Regular-v01');
  @include font-face('GE Inspira Sans', '../type/GEInspiraSans-Italic-v01', normal, italic);
  @include font-face('GE Inspira Sans', '../type/GEInspiraSans-Bold-v01', bold, normal);
  @include font-face('GE Inspira Sans', '../type/GEInspiraSans-BoldItalic-v01', bold, italic);
  @include font-face('GE Inspira Serif', '../type/GEInspiraSerif-Regular-v01');
  @include font-face('GE Inspira Serif', '../type/GEInspiraSerif-Italic-v01', normal, italic);
  @include font-face('GE Inspira Serif', '../type/GEInspiraSerif-Bold-v01', bold, normal);
  @include font-face('GE Inspira Serif', '../type/GEInspiraSerif-BoldItalic-v01', bold, italic);
  
  html {
    font-family: $predix-font-family;
  }
  
  :host {
    font-family: $predix-font-family;
  }

  /**
   * Font weights
   */
  .weight--light {
    font-weight: 300!important;
  }

  .weight--normal {
    font-weight: 400!important;
  }

  .weight--semibold {
    font-weight: 600!important;
  }

}
